<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>MYSITE</title>
        <link rel="stylesheet" href="../../assets/css/reset.css">
        <link rel="stylesheet" href="../../assets/css/mysite.css">
        <link rel="stylesheet" href="../../assets/css/list.css">
    </head>

    <body>
        
        <div id="wrap">

            <div id="header" class="clearfix">

                <!-- 로고 -->
                <h1>MY SITE</h1>

                <!-- 링크타고 들어가야해서 li태그로 만든 후 a태그 걸어주고 버튼모양으로 만들어준다 -->

                <!-- 회원관리 버튼 -->
                <ul>
                    <li>
                        <a href="#">로그인</a>
                    </li>
                    <li>
                        <a href="#">회원가입</a>
                    </li>
                </ul>
            </div>
        
            <!-- @@네비(상단메뉴 GNB) -->
            <div id="nav">
                <div class="clearfix">

                <ul>
                    <li>입사지원서</li>
                    <li>게시판</li>
                    <li>갤러리</li>
                    <li>방명록</li>

                </ul>

                </div>
            </div>
            <!-- @@네비(상단메뉴 GNB) -->
            
            <!-- 컨텐츠 -->
            <div id="contents2" class="clearfix">
                
                <!-- 사이드게시판 -->
                <div id="aside">
                    <h2>게시판</h2>

                    <ul>
                        <li>일반게시판</li>
                        <li>댓글게시판</li>
                    </ul>

                </div>
                
                <!-- 메인게시판 -->
                <div id="main">
                    <div class="title clearfix">
                        <h3>일반게시판</h3>
                        <div class="main-list">
                            <ul>
                                <li>홈</li>
                                <li>게시판</li>
                                <li>일반게시판</li>
                            </ul>
                        </div>
                    </div>
                    <!-- 검색부분 -->
                        <div class="search clearfix">
                            <div class="search-box">
                            
                                <label for="search"></label>
                                <input id="search" type="text" name="" value="">
                            </div>

                            <button type="submit">검색</button>
                        </div>
                    <!-- 게시판글 표 -->
                    <div class="chart">
                        <table>
                            <thead>
                                <th>번호</th>
                                <th>제목</th>
                                <th>글쓴이</th>
                                <th>조회수</th>
                                <th>작성일</th>
                                <th>관리</th>
                            </thead>

                            <tr>
                                <td>123</td>
                                <td>게시판 글입니다.</td>
                                <td>문준원</td>
                                <td>1232</td>
                                <td>2024-08-09</td>
                                <td>[삭제]</td>
                            </tr>
                            <tr>
                                <td>123</td>
                                <td>게시판 글입니다.</td>
                                <td>문준원</td>
                                <td>1232</td>
                                <td>2024-08-09</td>
                                <td>[삭제]</td>
                            </tr>
                            <tr>
                                <td>123</td>
                                <td>게시판 글입니다.</td>
                                <td>문준원</td>
                                <td>1232</td>
                                <td>2024-08-09</td>
                                <td>[삭제]</td>
                            </tr>
                            <tr>
                                <td>123</td>
                                <td>게시판 글입니다.</td>
                                <td>문준원</td>
                                <td>1232</td>
                                <td>2024-08-09</td>
                                <td>[삭제]</td>
                            </tr>
                            <tr>
                                <td>123</td>
                                <td>게시판 글입니다.</td>
                                <td>문준원</td>
                                <td>1232</td>
                                <td>2024-08-09</td>
                                <td>[삭제]</td>
                            </tr>
                            <tr>
                                <td>123</td>
                                <td>게시판 글입니다.</td>
                                <td>문준원</td>
                                <td>1232</td>
                                <td>2024-08-09</td>
                                <td>[삭제]</td>
                            </tr>
                        </table>
                    </div>

                    <!-- 페이지설정, 글쓰기버튼 -->
                    <div class="page-main clearfix">
                        <div class="page-list">
                            <ul>
                                <li>◀</li>
                                <li>1</li>
                                <li>2</li>
                                <li>3</li>
                                <li>4</li>
                                <li>5</li>
                                <li>6</li>
                                <li>7</li>
                                <li>8</li>
                                <li>9</li>
                                <li>10</li>
                                <li>▶</li>
                            </ul>
                        </div>    
                        <div class="button-area">
                            <button type="submit">글쓰기</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- 푸터 -->
            <div id="footer">
                <p>copyright &#169; 2024 진소영. All right reserved</p>
            </div>
            <!-- 푸터 -->

        </div>
    </body>

</html>