@charset "utf";

body{
    font-family: "맑은 고딕";
    font-size: 12px;
    background-color: #808080;
}

.back{
    width: 600px;
    background-color: white;
}

/* 회원가입 */
.back h3{
    font-size: 18px;
    font-weight: bold;
}

/* 목차 */
.back ol>li{
    float: left;

    margin-left: 10px;
}
.back ol>li:not(:last-child)::after{
    content: ">";
}


/* 폼타이틀 세팅 */
.back .form-group{
    padding: 10px;
    border-bottom: 1px solid #000000 ;
}

.back .form-title{
    display: inline-block;
    width: 120px;
    text-align: center;
    font-size: 12px;
}

/* 아이디,패스워드,이름 */
.back .form-group .form-title~input[name="one"]{
    width: 200px;
    
}

/* 주소 */
.back .form-group .form-title~input[name="adress"]{
    width: 250px;
}
.back .form-group input[name="full-adress"]{
    width: 400px;
    margin-left: 124px;
    margin-top: 5px;
}

/* 나이, 혈액형, 취미 */
.back .form-group>span~label{
    font-family: "맑은고딕";
    font-size: 15px;
}
.back .form-group>span~input{
    margin-right: 10px;
}

/* 자기소개 */
.back .form-group .txt-area{
    width: 400px;
    height: 100px;
}

/* 버튼 */
.back .btn{
    width: 80px;
    height: 30px;
}
.back .btn-area{
    padding: 10px 0 10px 0;
    text-align: center;
}

